body{
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#344758+0,344758+100 */
background: rgb(52,71,88); /* Old browsers */
background: -moz-linear-gradient(top, rgba(52,71,88,1) 0%, rgba(52,71,88,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(52,71,88,1) 0%,rgba(52,71,88,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(52,71,88,1) 0%,rgba(52,71,88,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#344758', endColorstr='#344758',GradientType=0 ); /* IE6-9 */

}

.big-number{
    font-size: 250px!important;
}